.ServiceList {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8,25,74);
}

.header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.line {
    width: 30px;
    height: 2px;
    background-color: rgb(238,13,21);
    margin-top: -5px;
}
.header h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.text {
    color: rgb(142, 149, 161);
    font-size: 12px;
    margin-bottom: 40px;
}

.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 14px;
    background-color: #fff;
}
.left h1{
    font-size: 19px;
    margin-bottom: 5px;
}
.left p {
    font-size: 12px;
}
.right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.right button {
    background: transparent;
    border: none;
    font-size: 17px;
}
.red {
    color: rgb(238,13,21);
}

.AddService{
    padding: 50px;
    background-color: #fff;
    margin-top: 20px;
}
.form {
    margin-top: 20px;
}
.name , .description{
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid rgba(142, 149, 161, 0.37)
}
.form input, .form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.form input::placeholder, .form textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    padding: 10px 15px;
    border: none;
    color: #fff;
    background-color: rgb(238,13,21);
}

