.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    /* height: 20vh; */
}
.login {
    display: flex;
    /* align-items: end; */
    gap: 10px;
    margin: 40px 0;
}
.login h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.underline {
    background-color: rgba(227, 14, 14, 0.902);
    width: 30px;
    height: 2px;
    margin-top: 16px;
}
.control {
    width: 150%;
    background-color: #fff;
    margin: 20px 0;
    border: .5px solid rgba(0, 0, 0, 0.068);
}
.control input {
    background-color: #fff;
    border: none;
    outline: none;
    width: 80%;
    padding: 10px;
}
.password {
    width: 150%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eye {
    cursor: pointer;
    margin-right: 10px;
}
.forgot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(18, 44, 116, 0.696);
    margin: 10px 0;
    cursor: pointer;
}
.forgot:hover {
    color: rgba(18, 44, 116, 0.463);
}
.btn button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: rgba(227, 14, 14, 0.902);
}

.forgotPassword {
    position: relative;
    margin: 50px 0;
}
.forgotPassword form p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.back {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -70px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

@media (max-width: 760px) {
    .control {
        width: 100%;
    }
    .control input {
        width: 100%;
    }
    .password {
        width: 100%;
    }
    .btn button {
        width: 100%;
    }
}