.CustomerDetails {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 70px;
}
.container {
    border-left: 1.5px solid #e0e0e0;
}
.customerInfo , .vehicleInfo, .serviceInfo {
    position: relative;
    /* margin-left: 100px; */
    padding-left: 100px;
    padding-bottom: 50px;
}
.text {
    position: absolute;
    left: -30px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(238,13,21);
    color: #fff;
    top: 0;
}
.text:nth-child(3){
    top: unset;
    bottom: 0;
}

.container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(8,25,74);
    margin-bottom: 15px;
}
.container p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.container p span {
    color: rgb(134, 137, 141);
    font-size: 12px;
}
.container p .edit {
    color: rgb(238,13,21);
    font-size: 15px;
    cursor: pointer;
}
.addVehicle button {
    padding: 10px 15px ;
    background-color: rgb(238,13,21);
    color: #fff;
    border: none;
    font-size: 12px;
}

.vehicleList {
    min-height: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin: 20px 0;
    padding: 15px;
}
.vehicleList p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(134, 137, 141);
}
.serviceInfo p {
    font-weight: unset;
    color: rgb(134, 137, 141);
}
.header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.line {
    width: 30px;
    height: 2px;
    background-color: rgb(238,13,21);
    margin-top: -5px;
}
.header h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8,25,74);
    font-size: 20px;
    margin-bottom: 20px;
}
.AddCustomer {
    position: relative;
    padding-top: 20px;
}
.addContainer {
    background-color: #fff;
    padding: 35px;
}
.AddCustomer>button {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: rgb(238,13,21);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_login {
    width: 70%;
}
.form_login input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid rgba(136, 137, 141, 0.47);
    background-color: #fff;
}
.form_login input::placeholder {
    font-size: 12px;
}

