.NewOrder {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(8,25,74);
    /* height: 100vh; */
}
.header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.line {
    width: 30px;
    height: 2px;
    background-color: rgb(238,13,21);
    margin-top: -5px;
}
.header h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.searchContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #fff;
    border: 1px solid rgba(136, 137, 141, 0.47);
}
.searchContainer input {
    width: 90%;
    font-size: 14px;
    outline: none;
    border: none;
}
.searchContainer p img {
    width: 18px;
}
/* .customerList {
    border-collapse: collapse;
    border: 1px solid rgba(136, 137, 141, 0.47);
    width: 80%;
}
.customerList th {
    color: #fff;
    padding: 10px;
    text-align: left;
} */
 .customerList {
    width: 80%;
 }
table {
    width: 100%;
    border: 1px solid rgba(136, 137, 141, 0.47);
    margin-top: 10px;
    padding: 0;
    border-collapse: collapse;
}
table thead tr th {
    padding: 10px;
    border: 1px solid rgba(136, 137, 141, 0.47);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
table tbody tr td {
    padding: 10px;
    border: 1px solid rgba(136, 137, 141, 0.47);
    font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.customerDetails {
    background-color: #fff;
    padding: 20px;
    position: relative;
}

.customerDetails h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.customerDetails p {
    font-size: 14px;
    color: rgb(8,25,74);
    margin: 5px 0;
}
.customerDetails p span {
    color: rgba(108, 108, 109, 0.902);
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(238,13,21);
    color: #fff;
}
.edit {
    margin-left: 10px;
    color: rgb(238,13,21);
}

.editConteiner {
    display: flex;
    align-items: center;
    gap: 10px;
}
.spinner {
    width: 50px;
    height: 50px;
    margin: 10px auto;
}
.customerVehicle {
    background-color: #fff;
    padding: 20px;
    padding-top: 40px;
    margin-top: 20px;
}
.customerVehicle h1 {
    font-size: 20px;
    margin-bottom: 10px;
}
.OrderList {
    background-color: #fff;
    margin-top: 20px;
    padding: 30px;
}
.OrderList h1 {
    font-size: 19px;
    margin-bottom: 20px;
    
}
.individualOrder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 5px 0;
}
.individualOrder h2 {
    font-size: 17px;
    margin-bottom: 5px;
}
.individualOrder p {
    font-size: 14px;
    color: rgba(108, 108, 109, 0.902);
}
.individualOrder .right input {
    width: 25px;
    height: 25px;
    border: 1px solid rgba(136, 137, 141, 0.47);
}
.OrderList button {
    padding: 10px 15px;
    background-color: rgb(238,13,21);
    border: none;
    color: #fff;
    margin-top: 30px;
}
.left .birr {
    color: rgb(5, 18, 57);
    margin: 5px 0;
}